@import url(http://fonts.googleapis.com/css?family=Lato:300,100);
/* line 34, ../scss/main.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 39, ../scss/main.scss */
body {
  margin-left: 3%;
  color: #fff;
  font-family: "Lato", sans-serif;
  text-align: left;
  background: url("../img/light.png") no-repeat 50% 50%;
  background-size: cover;
}

/* line 48, ../scss/main.scss */
h1 {
  text-transform: uppercase;
  font-size: 600%;
  margin-top: 0.2em;
  margin-bottom: 0;
  margin-left: -0.7%;
}

/* line 57, ../scss/main.scss */
.msg {
  clear: both;
  margin-bottom: 0;
  color: #373d3f;
}

/* line 64, ../scss/main.scss */
.slogan {
  margin-top: 0;
  font-size: 200%;
  margin-bottom: 5%;
}

/* line 70, ../scss/main.scss */
select {
  -webkit-appearance: none;
  color: #a7b0b2;
  text-align: center;
  padding: 0.5em;
}

/* line 78, ../scss/main.scss */
#form {
  border-radius: 10px;
  padding: 0.3em 0;
  padding-bottom: 1em;
  width: 30%;
  margin: 0 auto;
  float: left;
}
/* line 86, ../scss/main.scss */
#form h3 {
  margin-top: 0;
  margin-bottom: 1em;
}

/* line 94, ../scss/main.scss */
form[action="/set"] > *,
form[action="/contact"] > *,
form[action="/twilio"] > * {
  -webkit-box-shadow: 0 0 6px #9dcfe0;
  -moz-box-shadow: 0 0 5px #9dcfe0;
  box-shadow: 0 0 5px #9dcfe0;
  border: 1px solid #75d4ef;
  padding: 0.5em;
  color: #a7b0b2;
  font-size: 100%;
  display: block;
  margin: 0.5em auto;
  float: left;
  clear: both;
  border-radius: 5px;
  outline: none;
}
/* line 110, ../scss/main.scss */
form[action="/set"] > *:focus,
form[action="/contact"] > *:focus,
form[action="/twilio"] > *:focus {
  -webkit-box-shadow: 0 0 6px #75d4ef;
  -moz-box-shadow: 0 0 5px #75d4ef;
  box-shadow: 0 0 5px #75d4ef;
}

/* line 117, ../scss/main.scss */
input[type="submit"] {
  background: #a7b0b2;
  color: #fff;
  padding: 0.5em 1em;
}
/* line 122, ../scss/main.scss */
input[type="submit"]:hover {
  background: #fff;
  color: #a7b0b2;
  transition: 0.5s;
}

/* line 130, ../scss/main.scss */
#testing > * {
  display: inline-block;
}

/* line 134, ../scss/main.scss */
#testing {
  clear: both;
}

/* line 138, ../scss/main.scss */
#start {
  margin-right: 0.5em;
}

/* line 143, ../scss/main.scss */
.track, .reminder {
  float: left;
  width: 40%;
}

/* line 148, ../scss/main.scss */
img {
  width: 400px;
}

/* line 153, ../scss/main.scss */
#sets, #reps {
  display: inline-block;
  text-align: center;
}

/* line 158, ../scss/main.scss */
#sets {
  margin-right: 1em;
}

/* line 162, ../scss/main.scss */
#reps {
  margin-left: 1em;
}

/* line 166, ../scss/main.scss */
.val-title {
  font-size: 150%;
  margin: 0;
}

/* line 171, ../scss/main.scss */
.sets, .reps {
  margin: 0;
  font-size: 700%;
  line-height: 1em;
}
